* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #d7d7d7;
}

#navbar {
    background-color: #302c2c !important;
}

.navbar-nav a {
    color: #c4c2c2 !important;
}

.dropdown-menu {
    background-color: #302c2c !important;
}

.navbar-nav a:hover {
    color: #ea0da4 !important;
}

.navbar-brand {
    margin-left: 10%;
    margin-right: 5%;
}

#logo {
    width: 240px;
}

#top_logo {
    width: 240px;
    height: auto;
}